# Ignore environment variable files
.env

# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/
env/

# Ignore database files
*.sqlite3
*.db

# Ignore logs and temp files
logs/
*.log
tmp/
